extends layout
block append head
  script(type='text/javascript', src='/socket.io/socket.io.js')
block content
  .row-fluid
    h1.span6 Send a Message
  .row-fluid
    #spotlight.span6
      each city in allCities
        if city.placeId === query.city
          p(id="#{city.placeId}-time").lead
  .row-fluid
    #visualization.span12
  .row-fluid
    #everything-else.span6.hero-unit
      p Your message will arrive in:
        each city in allCities
          unless city.placeId === query.city
            div(id="#{city.placeId}-time")
              span(id="#{city.placeId}-span-name")
              |  -
              span(id="#{city.placeId}-dest-time")
    #scrolling-text.span6
  script(type='text/javascript').
    var query = !{JSON.stringify(query)};
    var allCities = !{JSON.stringify(allCities)};
  != js('//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js')
  != js('//d3js.org/d3.v3.min.js')
  != js('//d3js.org/topojson.v1.min.js')
  != js('//underscorejs.org/underscore-min.js')
  != js('//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js')
  != js('//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.0.3/moment-timezone.min.js')
  != js('moment-timezone-data.js')
  != js('util')
  != js('visualization')
  != js('socket-client')
  != js('time')
  != js('distance')
  != js('app')
